.nombre{
    text-align: center;
}

.Container_Cart_Button{
    width: 25%;
    position: fixed;
    margin-right: 15px;
    z-index: 1000;
    bottom: 0;
    right: 0;
}

.container{
    background: #fff;
    width: 100%;
    border-radius: 2px;  
    margin: auto;
    display: none; 
}

.nombre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background:#2F353A;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #fff;
    padding: 0.5em;;
}
.Scroll_Container{
    width: 100%;
    height: 290px;
    overflow: scroll;
    overflow-x: hidden;
}

.Scroll_Container::-webkit-scrollbar{
    width: 5px;   
}

.Scroll_Container::-webkit-scrollbar-thumb{
    background: #2F353A;
    border-radius: 5px;
}

.Detele{
    cursor: pointer;
    background: rgb(216, 38, 38);
    border: none;
    padding: 13%;
    border-radius: 20%;
    color: #fff;
}


.Detele:hover{
    padding: 16%;
    font-size: 15px;
}

.producto{
    display: flex;
    flex-wrap: wrap;
}

.img{
    /* background: red; */
    width: 30%;
    height: 80px;
    
    display:flex ;
    justify-content: center;
    align-items: center;
}

.img img{
    width: 90%;
    height: 90%;
    
}

.descrip{
    /* background: yellow; */
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descrip .desc_2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    margin-left: 5%;
}

.Canti{
    background: #E1DEDE;
    float: right;
    margin-right: 5%;
    width: 60%;
    border: none;
 }

.close{
    /* background: blue; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    padding: 0.25em;
}

 hr{
    width: 95%;
    margin: auto;
}

.butt{ 
    padding: 0.3em;
    text-align: center;
}

.carrito{
    margin-left: 135px;
    padding-top: 10px;
    width: 20%;
    height: 70px;
    float: right;
    margin-right: 20px;
    margin-bottom: 35px;
}

.Button_Cart{
    cursor: pointer;
    border: 2px solid #2F353A;
    background:#fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline:none;
}

.Button_Cart img{
    width: 50%;
}

.Button_Cart img:hover{
    width: 60%;
}

.Button_Solicitar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background:#2F353A;      
    border: none;
    padding: 8px;
    border-radius: 2px;
    color: #fff;
}

.Button_Solicitar:hover{
    cursor: pointer;
    background: #fff;
    color: #2F353A;
    padding: 7px;
    border: 1px solid #2F353A;
}

.Active{
    display: block;
}

.Button_Activate{
    background: rgb(99, 223, 88);
}

.notify{
    position: fixed;
    bottom: 0;
    right: 0;
}

.Activate_Notify{
    background: red;
    margin-right: 37px;
    margin-bottom: 83px;
    width: 1.5%;
    border-radius: 50%;
    text-align: center;
}